main {
    width: 85%;
    margin: 0 auto;
    font-size: 1.8rem;
}

.contactForm {
    padding: 10px;
    border-radius: 8px;
    width: 95%;
    margin: 5vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contactForm h4 {
    text-align: center;
    width: 100%;
}

form > div {
    width: 45%;
}

label {
    width: 100%;
}

input {
    width: 100%;
    background: rgb(228, 227, 227);
    border: 1px solid #000;
    border-radius: 3px;
    height: 2.5rem;
    margin-bottom: 2vh;
    font-size: 1.2rem;
    padding: 5px;
}

.textarea {
    width: 100%;
    margin: 0 auto;
}

form textarea {
    width: 100%;
    margin: 0 auto 2vh;
    height: 10vh;
    border: 1px solid #000;
    border-radius: 8px;
}

input[type="submit"] {
        width: fit-content;
        padding: 0 20px;
        background: #006687;
        color: white;
        font-size: 1.7rem;
        font-weight: 900;
        border-radius: 8px;
}

select {
    font-size: 1.5rem;
    height: 55px;
    padding: 5px;
}