:root {
    --height1: 20vh;
    --height2: 20vh;
    --height3: 20vh;
}

body {
    margin: 0;
    background: #c7e9fa;
    color: black;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #006687;
    color: white;
    padding: 10px;
    border-bottom: 1px solid #000;
}

nav > h1 {
    margin: 0;
    margin-bottom: 5px;
}

nav > div {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav button {
    background: transparent;
    color: white;
    border: none;
    border-bottom: 2px solid transparent;
    border-bottom: 1px solid white;
}

nav button:hover {
    cursor: pointer;
    border-bottom: 2px solid white;
    transition: border 1s;
    transform: border;
    transform-origin: left;
}

.sdwan, .cyberSec, .contact {
    background: #f9dedc;
    color: #410e0b;
    color: black;
    margin: 0;
    width: 100%;
    /* padding: 10px 5%; */
    opacity: 0;
    position: absolute;
}

.sdwan > p, .cyberSec > p {
    width: 95%;
    margin: 15px auto;
}

.showInfo {
    position: unset;
    opacity: 0.85;
    animation: showInfo 1s ease-in-out;
    overflow: hidden;
}

@keyframes showInfo {
    0% {
        height: 0;
    }
    100% {
        height: var(--height1);
    }
}

.hideInfo {
    animation: hideInfo 1s ease-in-out;
    overflow: hidden;
}

@keyframes hideInfo {
    0% {
        position: unset;
        opacity: .85;
        height: var(--height2);
    }
    100% {
        position: unset;
        opacity: .85;
        height: 0;
    }
}

main {
    margin: 0 5% 5%;
}

.mainHeader {
    min-height: 150px;
    margin-top: 20px;
}

.mainHeader > div {
    width: 150px;
    float: left;
    margin-right: 20px;
    position: relative;
    height: 100px;
    overflow: hidden;
}

.mainHeader > div > img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.mainHeader > div > img:nth-child(2) {
    animation: fade1 20s infinite;
}

.mainHeader > div > img:nth-child(3) {
    animation: fade2 20s infinite;
}

.mainHeader > div > img:nth-child(4) {
    animation: fade3 20s infinite;
}

.mainHeader > div > img:nth-child(5) {
    animation: fade4 20s infinite;
}

@keyframes fade1 {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade2 {
    0% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade3 {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade4 {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.mainBody {
    clear: both;
    background: #876996;
    color: #fdecff;
    padding: 10px;
    border-radius: 6px;
    margin-top: 30px;
}

ol {
    padding-left: 20px;
}

ul {
    overflow: auto;
    height: 0;
    transition: all 1s;
    padding: 5px;
    opacity: 0;
}

li > h4 {
    margin: 0;
    padding: 0;
    text-decoration: underline;
    font-weight: 100;
}

li:active>ul, li:hover>ul {
    height: 18vh;
    opacity: 1;
    background: #f9dedc;
    color: #410e0b;
    padding: 10px 26px;
    margin: 10px 10px 20px auto;
    border-radius: 10px;
    font-size: 0.8rem;
}

@media screen and (orientation:landscape) {

    nav {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    nav > div {
        width: 60%;
    }

    nav button {
        font-size: 1.1rem;
    }

    nav button {
        font-size: 1.2rem;
    }

    .mainHeader {
        min-height: 150px;
        font-size: 1.2rem;
    }

    .mainHeader > div {
        width: 250px;
        height: 160px;
    }
}